<?php

$config = [
    'db_host' => '{{ key "/database/host" }}',
    'db_port' => '{{ key "/database/port" }}',
    'db_user' => '{{ key "/database/username" }}',
    'db_pass' => '{{ key "/database/password" }}'
];
